* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.page-header {
    font-size: 36px;
}

.recipe-link{
    color: #950506;
    font-size: 26px;
}

button,
.description {
    background-color: antiquewhite;
    color: #950506;
}

button {
    font-size: 20px;
    font-weight: 500;
}

.description {
    text-align: center;
}

.list {
    font-size: 24px;
    font-weight: bolder;
}

.sublist {
    font-weight: bold;
}

li {
    color: #950506;
}

/* list, sublist, description */

