html {
    box-sizing: border-box;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    box-sizing: inherit;
}

body {
    background-color: ;
}

.page-header {
    font-size: 36px;
    text-align: center;
}

div > img {
    display: block;
    border: 6px;
    border-color:#950506;
    border-style: solid;
    margin: auto;
   
}

.recipes-list {
    display: block;
    margin: auto;
    width: 80%;
}

.recipes-list > a {
    background-color: ;
    color: #950506;
    font-size: 16px;
    text-align: center;
    display: flex;
    padding: 12px;
    border: 2px;
    border-color: #950506;
    border-style: solid;
    margin: 32px;

}

button,
.description,
.page-header {
    color: #950506;
    padding: 8px;
    margin: 12px auto;
    width: 500;
}

button {
    font-size: 20px;
    font-weight: 500;
    display: flex;
    border-color: ;
}

.description-card {
    background-color: white;

}

.description > p {
    font-size: 24px;
    text-align: center;

}

.list {
    font-size: 24px;
    font-weight: bolder;
}

.sublist {
    font-weight: bold;
}

li {
    color: #950506;
}

/* list, sublist, description */

