html {
    box-sizing: border-box;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    box-sizing: inherit;
}

body {
    background-color: ;
}

.page-header {
    font-size: 36px;
    text-align: center;
}

div > img {
    display: block;
    border: 6px;
    border-color:#950506;
    border-style: solid;
    margin: auto;
   
}

#main-recipes {
    display: block;
    margin: auto;
    width: 75%;
}

#main-recipes > a {
    background-color: ?;
    color: #950506;
    font-size: ;
    text-align: center;
    display: block;
    padding: 12px;
    border: 2px;
    border-color: #950506;
    border-style: solid;
    margin: 32px;

}

.home-button,
.inlay,
.page-header {
    color: #950506;
}

.home-button {
    font-size: ;
    display: block;
    border-color: ;
    margin: 18px auto
}

.card {
    background-color: antiquewhite;
    display: block;
}

.card-title {
    background-color: white;
}

.content {
}

/* card, inlay, contents */

